<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>INDEX</title>
    <meta charset="utf-8">
  </head>
  <body>
	    <h1>CONTATO</h1>
	
    <form action="/process" method="POST">
	
        <label for="ner">Nome</label><br />
        <input type="text" name="nome" id="ner"><br />
		
        <label for="eer">Email</label><br />
        <input type="text" name="email" id="eer"><br />
		
		<label for="cer">Celular</label><br />
        <input type="text" name="celular" id="cer"><br />
		
        <input type="submit">
		
    </form>	
  </body>
</html>
